* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* nav {
  top: 10px;
  height: 6vh;
  z-index: 10;
} */
.prof-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scaleX(-1);
}
